@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* VARIABLES */
:root {
  /* COLORS */
  --color-primary: #fff;
  --color-secondary: #999;
  --bg-color-transparent: #000000a4;
  --bg-color-secondary-transparent: #36343fa4;
  --bg-color-secondary: #464552;
  --bg-dark-transparent: #1a1616b6;
  --main-gradient: linear-gradient(
    to top right,
    rgb(0, 47, 255),
    rgb(255, 0, 170),
    rgb(0, 255, 255),
    rgb(209, 255, 4)
  );
  --secondary-gradient: linear-gradient(
    to bottom,
    rgba(0, 47, 255, 0.1),
    rgba(3, 103, 134, 0.7),
    rgb(26, 183, 255)
  );
  /* FONTS */
  --font-family: "Winky Sans", sans-serif;
  --font-size: clamp(1rem, 1.5vw, 1.25rem);
}

/* GLOBAL */

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
}

footer {
  justify-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #00000077;
  font-size: 1.5rem;
}

.background-image {
  background-image: var(--main-gradient);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -2;
  filter: blur(100px);
}

main {
  padding: 2rem;
  height: 85vh;
  width: 70%;
  position: relative;
  background-color: var(--bg-color-transparent);
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

/* TODAYS FORECAST */

.city {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 550px;
}

/* INPUT */
#city-input {
  width: 100%;
  /* margin-right: 5rem; */
  padding: 0.5rem 1rem 0.5rem 3.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: var(--bg-color-secondary);
  color: var(--color-primary);
  font-size: var(--font-size);
}

.input-container {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

/* TODAY */

.today-weather {
  border-radius: 1.5rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.today-weather .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--secondary-gradient);
  filter: brightness(1) blur(4px);
  border-radius: 1.5rem;
}

.today-weather > section {
  position: relative;
}

/* TODAY WEATHER HEADER */

.today-weather__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.today-weather__header h1 {
  font-size: 5rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: normal;
  margin-bottom: 0;
}

.today-weather__header h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: normal;
}

.day-description {
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: normal;
}

/* TODAY WEATHER DETAILS */

.today-weather__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.today-weather__details-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  background-color: var(--bg-color-secondary-transparent);
  width: 225px;
  height: 160px;
  border-radius: 1.5rem;
}

.item-description {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.3rem;
  gap: 0.3rem;
  color: var(--color-secondary);
}

.item-description > svg {
  fill: var(--color-secondary);
}

.details-item-value {
  font-size: 2rem;
  color: var(--color-primary);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.item-value-description {
  font-size: 1.2rem;
}

.details-item-additional-info {
  font-size: 1rem;
  line-height: 1.2;
  margin-top: auto;
}

/* FORECAST */

.forecast {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
}

.forecast > section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  gap: 1rem;
  width: 100%;
  border-radius: 1rem;
}

.forecast__hourly,
.forecast__days {
  padding: 1rem;
}

/* HOURLY FORECAST */

.forecast__hourly {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-dark-transparent);
}

.forecast h2 {
  /* font-size: 2.5rem; */
  text-align: left;
  width: 100%;
  border-bottom: 1px solid var(--color-secondary);
  /* color: var(--color-primary); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 0.5rem;
}

.forecast__hourly-item-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.forecast__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
}

.forecast__item .item-description {
  font-size: 1rem;
  color: var(--color-primary);
  text-align: center;
}

.active {
  background-color: var(--bg-color-secondary);
  border-radius: 1rem;
}

/* 10DAY */

.forecast__days {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-dark-transparent);
}

.forecast__hourly-item-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.forecast__date {
  font-size: 0.8rem;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 0.5rem;
}

/* FORECAST BOTTOM SECITON */

.forecast__additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.forecast__wind,
.forecast__uv {
  background-color: var(--bg-dark-transparent);
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.forecast__uv h3,
.forecast__wind h3 {
  margin-bottom: 1rem;
}

.forecast__hourly-value {
  font-size: 2rem;
  color: var(--color-primary);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.forecast__uv-additional-info {
  margin-top: 1rem;
  font-size: 1rem;
}

.weather-icon {
  width: 50px;
  height: 50px;
  /* margin: auto; */
  border-radius: 50%;

}

.forecast__item p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: var(--color-primary);
}
